
1_StudyCode/CodeToRun_cprd.R
1b_fluroquinolones_diagnostics_shiny/data/CPRD GOLD/*.csv
1_StudyCode/results/CPRD GOLD.zip
1_StudyCode/1a_fluroquinolones_diagnostics/CodeToRun_cprd.R
1_StudyCode/1b_fluroquinolones_diagnostics_shiny/rsconnect/shinyapps.io/dpa-pde-oxford/fluroquinolones_diagnostics.dcf
*.zip
Diagnostics/1a_fluroquinolones_diagnostics/results/*.csv
Diagnostics/1b_fluroquinolones_diagnostics_shiny/data/CPRD GOLD/*.csv
Diagnostics/1b_fluroquinolones_diagnostics_shiny/data/CPRD_AURUM/*.csv
1_StudyCode/1b_fluroquinolones_diagnostics_shiny/data/prd_omop/*.csv
1_StudyCode/1a_fluroquinolones_diagnostics/CodeToRun_local.R
3_Reporting/data/Results_CPRD GOLD/*.csv
1_StudyCode/CodeToRun_local.R
1_StudyCode/results/cdm_snapshot_Pharmetrics 100k.csv
2_Reporting/data/CPRD GOLD/*.csv
2_Reporting/data/CPRD GOLD 100k/*.csv
2_Reporting/data/Pharmetrics/*.csv
2_Reporting/data/Pharmetrics 100k/*.csv
2_Reporting/data/Results_CPRD GOLD 100k/*.csv
2_Reporting/rsconnect/shinyapps.io/dpa-pde-oxford/fluroquinolones_studyathon.dcf
1_StudyCode/results/*.csv
2_Reporting/data/Results_Pharmetrics 100k/*.csv
2_Reporting/data/Results_CPRD GOLD/c*.csv
2_Reporting/data/Results_Pharmetrics/*.csv
2_Reporting/data/Results_CPRD GOLD/*.csv
2_Reporting/data/results_CPRD Aurum 50 practice sample/*.csv

 History files
.Rhistory
.Rapp.history
# Session Data files
.RData
.RDataTmp
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
.env
renv/
# pkgdown site
docs/
# translation temp files
po/*~
# RStudio Connect folder
rsconnect/
# Study-a-thon specific 
results/
data/